@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body
{
	font-family: 'Montserrat', sans-serif;
	background: #202A38;
}

table.iksweb
{
	text-decoration: none;
	border-collapse:collapse;
	width:100%;
	text-align:center;
}

table.iksweb th
{
	font-weight:500;
	font-size:21px;
	color:#000;
	background-color:#BFFF61;
}

table.iksweb td
{
	font-size:17px;
	color:white;
	transition: all 0.1s;
}

table.iksweb td,
table.iksweb th
{
	white-space:pre-wrap;
	padding:16px 12px;
	line-height:17px;
	vertical-align: middle;
	border: 2px solid #5d5d5d;
}

table.iksweb td:hover
{
	background-color:#2C3A4C;
	/*color:black;*/
	cursor:pointer;
}

.tooltip_sch {
	padding: 10px;
	font-size: 20px;
}

li a:hover {
	cursor: pointer;
	text-decoration: underline !important;
}

.text-warning {
	color: yellow !important;
}

.tooltip > .tooltip-inner {background-color: #000;}